@{
    ViewData["Title"] = "My Climbing";
}


<div class="text-center">
    <h2 class="display-4">Climbing is the BEST!</h2>
	<!--Main Image-->
	<img src="~/imgs/grouppic.jpg" />
	<br/>
	<h1>Outdoors AND in the gym.</h1>
	<!--Side by side auxiliary images-->
	<img height="400" display="inline-block" src="~/imgs/maplecanyonfront.jpg" />
	<img height="400" display="inline-block" src="~/imgs/metalmark.jpg" />
	<!--Description-->
	<h1>About my passion for climbing</h1>
	<p>Growing up I tried lots of sports, and while I enjoyed most of them I didn't feel passionately about any of them. Climbing was different for me. 
		I have loved climbing since the first chance I had to try it when I was about 14. While I didn't have the opportunity to do it much until I was
		a little bit older, I have since made it a big part of my life, and love introducing it to others.
	</p>
	<p>
		Climbing is an activity that stays interesting because it has so much variety between the different types of climbing and the differences between
		any two routes. The ability to do it both indoors and out means that it fits the circumstances of many. Ultimately I feel that it is just the best
		and I hope you enjoy it too!!
	</p>

</div>
